.courses {
    background: linear-gradient(0deg,#E1E1E1 50%, #97C339 50%);
    height: 800px;
    width: 100%;
    margin-top: 0px;
}

.courses > h1 {
    color: white;
    font-size: 30px;
    margin-top: 0px;
}

.cours {
    margin: 75px auto;
    width: 90%;
    height: 625px;
    padding: 20px;
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cours > img {
    height: 75%;
    width: 80%;
    justify-self: center;
}

@media only screen and (max-width: 1300px) {
    .courses {
        background: linear-gradient(0deg,#E1E1E1 50%, #97C339 50%);
        height: 800px;
        width: 100%;
        margin-top: -50px;
    }   
}

@media only screen and (max-width: 1200px) {
    .cours > img {
        height: 70%;
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .cours {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .cours > img {
        height: 90%;
        width: 65%;
    }
}

@media only screen and (max-width: 768px) {
    .cours > img {
        height: 70%;
        width: 65%;
    }
}

@media only screen and (max-width: 595px) {
    .cours > img {
        height: 60%;
        width: 65%;
    }

    .cours {
        margin: -30px auto;
    }

    .courses {
        height: 625px;
    }
}

@media only screen and (max-width: 450px) {
    .cours {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .cours > img {
        height: 60%;
        width: 65%;
    }

    .courses {
        height: 625px;
    }
}